.start-content {
    display: flex;
    align-items: center;
}

.card {
    width: '95vw';
    margin: 0;
    margin-bottom: '1rem';
}

.tool-bar {
    background-image: linear-gradient(to right, #1c80cfb5, #ffb50047, #f69ebc4a);
    height: 4rem;
    flex-wrap: nowrap;
    height: 10vh;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #ffffff00;
    color: #104b7a;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: #ffffff00;
    color: #2196f3;
    border: none;
}

.p-tabmenu .p-tabmenu-nav{
    background: #ffffff00;
    height: 10vh;
}